@model List<ItTakesAVillage.Models.UserGroup>
@using ItTakesAVillage.Interfaces
@using Microsoft.AspNetCore.Identity
@inject UserManager<ItTakesAVillageUser> _userManager

<link rel="stylesheet" href="~/css/group.css" />
    <div class="accordion greenBgColor mb-3" id="notification-accordion">
        <div class="accordion-item border-0">
            <h2 class="accordion-header" id="heading_usersAccordion">
                <button class="accordion-button collapsed greenBgColor ps-0"
                        type="submit"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse_usersAccordion"
                        aria-expanded="false"
                        aria-controls="collapse_usersAccordion">
                    <i class="bi bi-circle-fill pinkFontColor pe-2 py-2"></i>
                    <span class="fw-bold">@Resources.Members</span>
                </button>
            </h2>

            <div id="collapse_usersAccordion" class="accordion-collapse collapse " aria-labelledby="heading_usersAccordion" data-bs-parent="#notification-accordion">
                <div class="accordion-body">
                    @foreach (var member in Model)
                    {
                        if (member != null)
                        {
                            <div class="container d-flex pt-2 member-container">
                                <p>@member.User.FirstName @member.User.LastName</p>
                                @if (member.UserId == _userManager.GetUserId(User))
                                {
                                    <form method="post" asp-page-handler="RemoveFromGroup">
                                        <input type="hidden" name="userId" value="@member.UserId" />
                                        <input type="hidden" name="groupId" value="@member.GroupId" />
                                        <button type="submit" class="bi bi-x-circle delete-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ta bort från grupp"></button>
                                    </form>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>