@page
@using ItTakesAVillage.Models
@model ItTakesAVillage.Pages.GroupDetailsModel
@{
}
@if (Model.CurrentUser != null)
{
    <div class="container w-75">
        <a asp-page="/Group" class="btn abrilFont p-2 blueBgColor border-0">Tillbaka till dina grupper</a>
    </div>

    @if (Model.UsersInGroup != null && Model.UsersInGroup.Any())
    {
        <h2 class="text-center abrilFont mb-3">@(Model.CurrentGroup != null ? Model.CurrentGroup.Name : "")</h2>
        <div class="text-center abrilFont text-muted mb-5">- På gång - Medlemmar - </div>
        @if (Model.EventsOfGroup.Any())
        {
            <div class="container w-75 mb-3">
                <h5 class="abrilFont">På gång</h5>
                <div class="accordion w-75" id="groupEvent-accordion">
                    @foreach (var groupEvent in Model.EventsOfGroup)
                    {
                        <div class="accordion-item  border-0">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse_@groupEvent.Id"
                                    aria-expanded="false"
                                    aria-controls="collapse_@groupEvent.Id"
                                    onclick="handleAccordionClick(@groupEvent.Id)">
                                <i class="bi bi-circle-fill pinkFontColor p-2"></i>

                                @if (groupEvent is DinnerInvitation)
                                {
                                    <span class="accordion-title fw-bold">
                                        Matlag hos @groupEvent.Creator.FirstName
                                    </span>
                                }
                                else if (groupEvent is PlayDate)
                                {
                                    <span class="accordion-title fw-bold">
                                        Lekträff hos @groupEvent.Creator.FirstName
                                    </span>
                                }

                            </button>

                            <div id="collapse_@groupEvent.Id" class="accordion-collapse collapse" aria-labelledby="heading_@groupEvent.Id" data-bs-parent="#groupEvent-accordion">
                                <div class="accordion-body p-4">
                                    @if (groupEvent is DinnerInvitation dinnerInvitation)
                                    {
                                        await Html.RenderPartialAsync("_DinnerNotificationPartial", dinnerInvitation);
                                    }
                                    @if (groupEvent is PlayDate playDate)
                                    {
                                        await Html.RenderPartialAsync("_PlayDateNotificationPartial", playDate);
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        await Html.RenderPartialAsync("_GroupTabPartial", Model.CurrentGroup);
    }
    <div class="greenBgColor pb-5 pt-3">
        <div class="container w-75">
            @if (Model.UsersInGroup != null && Model.UsersInGroup.Any())
            {
                await Html.RenderPartialAsync("_MemberPartial", Model.UsersInGroup);
                <form method="post" asp-page-handler="AddUserToGroup">
                    <h5 class="abrilFont mt-3">Lägg till medlem i grupp</h5>
                    <div class="d-flex w-50 gap-2">
                        <input type="hidden" name="groupId" value="@Model.CurrentGroup?.Id" />
                        <select id="selectList2" class="form-control col bg-transparent inline-block" asp-for="NewUserGroup.UserId" asp-items="ViewBag.UserId" required>
                            <option disabled selected>Välj medlem</option>
                        </select>
                    </div>
                    <input type="submit" class="btn pinkBgColor my-2 fw-bold" value="Spara" />
                </form>
            }
        </div>
    </div>
    <partial name="Shared/_FooterQuote" />
}
