@page
@model ItTakesAVillage.Pages.ToolLoanModel
@{
    string toolPool = "Prylpool";
    string sharedOf = "Delad av";
    string remove = "Ta bort";
    string borrow = "Låna";
    string edit = "Ändra";
    string borrowed = "Utlånad";
    string createGroupText = "Skapa en grupp för att dela prylar!";
    string createGroup = "Skapa ny grupp";
    string fromDateText = "Från vilket datum?";
    string toDateText = "Till vilket datum?";
    string borrowTitleFormular = "Fyll i formuläret för att låna";
    string editTitleFormular = "Fyll i dina ändringar";
    string toolText = "Prylnamn: ";
    string descriptionText = "Beskrivning: ";
    string messageText = "Meddelande: ";
    string sharedOfText = "Delad av: ";
    string save = "Spara";
    string close = "Stäng";
    string noSharedTools = "Finns inga delade prylar";
    string shareTool = "Börja dela med dina vänner";
}
<link rel="stylesheet" href="~/css/toolPool.css" />
@if (Model.CurrentUser != null)
{
    <div class="d-flex align-items-center flex-column">
        <img class="mx-auto eventImg" alt="wrench with pink background" src="img/tool.png" />
        <h2 class="abrilFont text-center mt-2 mb-5">@toolPool</h2>
    </div>
}
@if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
{
    await Html.RenderPartialAsync("_ToolPoolTabPartial");
    <div class="pinkBgColor py-4">
        <div class="container w-75 pt-5 pb-4">
            @if (Model.Tools != null && Model.Tools.Any())
            {
                <div class="row">
                    @foreach (var tool in Model.Tools)
                    {
                        <div class="card ms-2">
                            <div>
                                <img src="@(tool.Image != null ?
                                    $"/uploadedImg/{tool.Image}/{tool.Image}" :
                                    $"/img/defaultImg.svg")"
                                     alt="Beskrivning" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><b>@tool.Name</b></h5>
                                <p class="card-text">@tool.Description</p>
                                <div class="card-text small d-flex mb-1">
                                    <span>Meddelande</span>
                                    <i class="ps-2 bi bi-patch-question d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@tool.Message"></i>
                                </div>
                                <p class="card-text creator-txt small">
                                    @sharedOf @(tool.Creator != null ?
                              tool.Creator.FirstName + " " + tool.Creator.LastName :
                              "")
                                </p>
                                @if (tool.CreatorId == Model.CurrentUser?.Id && tool.IsBorrowed == false)
                                {
                                    <div class="d-flex">
                                        <button type="submit" class="btn pinkBgColor me-2" data-bs-toggle="modal" data-bs-target="#editModal">
                                            @edit
                                        </button>
                                        <form method="post" asp-page-handler="RemoveToolFromPool">
                                            <input type="hidden" name="toolId" value="@tool.Id" />
                                            <button type="submit" class="btn greenBgColor">@remove</button>
                                        </form>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        <b>@editTitleFormular</b>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" asp-page-handler="EditTool">
                                                    <div class="modal-body">
                                                        <input type="hidden" asp-for="EditTool.DateTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm", new System.Globalization.CultureInfo("sv-SE"))" />
                                                        <input type="hidden" asp-for="EditTool.CreatorId" value="@Model.CurrentUser.Id" />
                                                        <input type="hidden" asp-for="EditTool.Id" value="@tool.Id" />
                                                        <input type="hidden" asp-for="EditTool.Image" value="@tool.Image" />
                                                        <label class="form-label fw-bold mt-2">Vill du ändra namn</label>
                                                        <input asp-for="EditTool.Name"
                                                               value="@tool.Name"
                                                               class="form-control bg-transparent" />
                                                        <label class="form-label fw-bold mt-2">Vill du ändra beskrivning</label>
                                                        <input asp-for="EditTool.Description"
                                                               value="@tool.Description"
                                                               class="form-control bg-transparent" />       
                                                        <label class="form-label fw-bold mt-2">Vill du ändra meddelandet?</label>
                                                        <textarea class="form-control bg-transparent"
                                                                  asp-for="EditTool.Message"
                                                                  value="@tool.Message">@tool.Message</textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@close</button>
                                                        <button type="submit" class="btn pinkBgColor">@save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else if (tool.CreatorId == Model.CurrentUser?.Id && tool.IsBorrowed)
                                {
                                    <button disabled type="button" class="btn greenBgColor">@remove</button>
                                }
                                else if (tool.IsBorrowed)
                                {
                                    <button disabled type="button" class="btn pinkBgColor">
                                        @borrowed
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn pinkBgColor" data-bs-toggle="modal" data-bs-target="#borrowModal">
                                        @borrow
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="borrowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        <b>@borrowTitleFormular</b>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form method="post" asp-page-handler="BorrowTool">
                                                    <div class="modal-body">
                                                        <label class="form-label fw-bold mt-2">@fromDateText</label>
                                                        <input type="date"
                                                               asp-for="NewToolLoan.FromDate"
                                                               value="@DateTime.Now.ToString("yyyy-MM-dd")"
                                                               class="form-control bg-transparent"
                                                               min="@DateTime.Now.ToString("yyyy-MM-dd")"
                                                               required />
                                                        <label class="form-label fw-bold mt-2">@toDateText</label>
                                                        <input type="date"
                                                               asp-for="NewToolLoan.ToDate"
                                                               value="@DateTime.Now.ToString("yyyy-MM-dd")"
                                                               class="form-control bg-transparent"
                                                               min="@DateTime.Now.ToString("yyyy-MM-dd")"
                                                               required />
                                                        <input type="hidden" asp-for="NewToolLoan.BorrowerId" value="@Model.CurrentUser.Id" />
                                                        <input type="hidden" asp-for="NewToolLoan.ToolId" value="@tool.Id" />
                                                        <hr />
                                                        <div class="p-1 small">
                                                            <div><b>@toolText</b> @tool.Name</div>
                                                            <div>
                                                                @(tool.Description != null ?
                                                                    Html.Raw("<b>" + descriptionText + "</b>" + tool.Description) : "")
                                                            </div>
                                                            @(tool.Message != null ?
                                                                Html.Raw("<b>" + messageText + "</b>" + tool.Message) : "")
                                                            <div>
                                                                <b>@sharedOfText</b>
                                                                @(tool.Creator != null ?
                                                                    tool.Creator.FirstName + " " + tool.Creator.LastName :
                                                                    "")
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@close</button>
                                                        <button type="submit" class="btn pinkBgColor">@save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

            }
            else
            {
                <div class="container d-flex flex-column align-items-center">
                    <h4 class="abrilFont my-4">@noSharedTools</h4>
                    <a asp-page="/ToolShare" class="btn custom-btn fontColor fw-bold greenBgColor my-4">@shareTool</a>
                </div>
            }
        </div>
    </div>

}
else
{
    <div class="pinkBgColor py-4 customColouredContainer d-flex align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center">
            <h4 class="abrilFont my-4">@createGroupText</h4>
            <a asp-page="/Group" class="btn custom-btn fontColor fw-bold greenBgColor my-4">@createGroup</a>
        </div>
    </div>
}
<partial name="Shared/_FooterQuote" />